html, body{
    margin 0;
    padding 0;
    width 100%;
    height 100%;
}
body{
    background-image url('https://cdn.pixabay.com/photo/2019/09/08/05/17/tree-4460149__340.jpg');
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size 100% 100%;
    background-position center;
    font 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color gray;
    font-smoothing antialiased;
    font-weight 300;
}